<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence name:</strong>
  <%= @yeast_type.sequence_name %>
</p>

<p>
  <strong>Mcg:</strong>
  <%= @yeast_type.mcg %>
</p>

<p>
  <strong>Gvh:</strong>
  <%= @yeast_type.gvh %>
</p>

<p>
  <strong>Alm:</strong>
  <%= @yeast_type.alm %>
</p>

<p>
  <strong>Mit:</strong>
  <%= @yeast_type.mit %>
</p>

<p>
  <strong>Erl:</strong>
  <%= @yeast_type.erl %>
</p>

<p>
  <strong>Pox:</strong>
  <%= @yeast_type.pox %>
</p>

<p>
  <strong>Vac:</strong>
  <%= @yeast_type.vac %>
</p>

<p>
  <strong>Nuc:</strong>
  <%= @yeast_type.nuc %>
</p>

<p>
  <strong>Localization site:</strong>
  <%= @yeast_type.localization_site %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @yeast_type.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @yeast_type.latitude %>
</p>

<%= link_to 'Edit', edit_yeast_type_path(@yeast_type) %> |
<%= link_to 'Back', yeast_types_path %>
